doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		
		title=title
		
		link(rel='canonical' href='https://www.wolfgangfaust.com/project/explore-sf/'+page_name)
		
		style.
			body {margin: 0 auto; max-width: 50em; line-height: 1.2; padding: 0 1em}
			body {font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol} /* https://systemfontstack.com/ */
			a[href^="http://"]::after {content: ' [http]'; color: initial; font-style: italic}
			@media print {
				a {color: black}
				a::after {content: " \3C" attr(href) "\3E" !important; text-decoration: none; display: inline-block; padding-left: 0.25em; font-style: inherit !important; font-size: 95%}
			}
			h2, h3 {margin-bottom: 0.5rem}
			h2+ul, h3+ul {margin-top: 0.5rem}
			footer {opacity: 0.75}
	body
		main!=content_html
		footer
			p &copy; 2020-#{lastmod_year} Wolfgang Faust. Last updated #{lastmod_date}. #[a(href=`https://github.com/wolfgang42/explore-sf/blob/main/pages/${page_id}.md`) View on GitHub].
